In [1]:
import psycopg as pg
import password

In [2]:
conn = pg.connect(dbname="postgres", host="localhost", user="postgres", password=password.password, port=5432)
cursor = conn.cursor()

## Список запросов к базе данных

In [3]:
requests = [
"""
/* Выводим все уникальные бренды, у которых стандартная 
 * стоимость выше 1500 долларов. */
SELECT DISTINCT brand
FROM "transaction" t
WHERE standard_cost > 1500;
""",
"""
/* Выводим все подтвержденные транзакции за период 
 * '2017-04-01' по '2017-04-09' включительно 
 * Под транзакцией понимаем transaction_id. Если нужно вывести
 * строки соответствующие этому transaction_id, то указываем SELECT * 
 */
SELECT transaction_id
FROM "transaction" t
WHERE TO_DATE(transaction_date, 'DD.MM.YYYY') BETWEEN '2017-04-01' AND '2017-04-09'
  AND order_status = 'Approved';
""",
"""
/* Выводим все профессии у клиентов из сферы IT или 
 * Financial Services, которые начинаются с фразы 'Senior'.
 * Под 'всеми профессиями' понимаем уникальные должности, начинающиеся
 * с 'Senior' в указанных отраслях.*/
SELECT DISTINCT job_title
FROM "customer" c
WHERE job_industry_category IN ('IT', 'Financial Services') AND job_title LIKE 'Senior%';
""",
"""
/* Выводим все бренды, которые закупают клиенты, 
 * работающие в сфере Financial Services */
SELECT DISTINCT t.brand
FROM "transaction" t 
JOIN customer c ON t.customer_id = c.customer_id
WHERE c.job_industry_category = 'Financial Services';
""",
"""
/* Выводим 10 клиентов, которые оформили онлайн-заказ 
 * продукции из брендов 'Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles'. 
 * Исходим из того, что под клиентом понимается customer_id. Если для описания
 * клиента понадобятся атрибуты из таблицы customer, то их можно вывести,
 * объединив таблицы*/
SELECT customer_id
FROM "transaction" t 
WHERE brand IN ('Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles') AND online_order = 'True'
LIMIT 10;
""",
"""
/* Выводим всех клиентов, у которых нет транзакций. 
 * Исходим из того, что под клиентом понимается customer_id. Если под клиентом
 * будет пониматься сочетание first_name и last_name, то их можно вывести,
 * добавив в SELECT c.first_name, c.last_name. */
SELECT c.customer_id
FROM "customer" c 
LEFT JOIN "transaction" t ON c.customer_id = t.customer_id
WHERE t.customer_id IS NULL;
""",
"""
/* Выводим всех клиентов из IT, у которых транзакции с максимальной стандартной стоимостью.
 * Исходим из того, что под клиентом понимается customer_id. При необходимости
 * иные поля из таблицы customer можно вывести, добавив их в SELECT с
 * использованием alias 'с'. Под 'всех' в контексте задания
 * понимаем всех уникальных клиентов*/
SELECT DISTINCT c.customer_id
FROM "customer" c 
JOIN "transaction" t ON t.customer_id = c.customer_id 
WHERE c.job_industry_category = 'IT' AND t.standard_cost = (
	SELECT MAX(standard_cost) FROM "transaction");
""",
"""
/* Выводим всех клиентов из сферы IT и Health, у которых есть подтвержденные 
 * транзакции за период '2017-07-07' по '2017-07-17'
 * Исходим из того, что под клиентом понимается customer_id. При необходимости
 * иные поля из таблицы customer можно вывести, добавив их в SELECT с
 * использованием alias 'с'. Под 'всех' в контексте задания
 * понимаем всех уникальных клиентов*/
SELECT DISTINCT t.customer_id
FROM "transaction" t 
JOIN customer c ON t.customer_id = c.customer_id 
WHERE c.job_industry_category IN ('IT', 'Health') AND
(TO_DATE(transaction_date, 'DD.MM.YYYY')
	BETWEEN '2017-07-07' AND '2017-07-17')
"""
]

In [4]:
def request(n: int):
    r = requests[n]
    print(r)
    cursor.execute(r)
    answer = cursor.fetchall()
    for i in answer:
        print(*i)

### Задание 1. Вывести все уникальные бренды, у которых стандартная стоимость выше 1500 долларов

In [5]:
request(0)

/* Выводим все уникальные бренды, у которых стандартная
 * стоимость выше 1500 долларов. */
SELECT DISTINCT brand
FROM "transaction" t
WHERE standard_cost > 1500;

OHM Cycles
WeareA2B
Trek Bicycles
Solex
Norco Bicycles
Giant Bicycles

### Задание 2. Вывести все подтвержденные транзакции за период '2017-04-01' по '2017-04-09' включительно

In [6]:
request(1)

/* Выводим все подтвержденные транзакции за период
 * '2017-04-01' по '2017-04-09' включительно
 * Под транзакцией понимаем transaction_id. Если нужно вывести
 * строки соответствующие этому transaction_id, то указываем SELECT *
 */
SELECT transaction_id
FROM "transaction" t
WHERE TO_DATE(transaction_date, 'DD.MM.YYYY') BETWEEN '2017-04-01' AND '2017-04-09'
  AND order_status = 'Approved';

17
19
23
83
89
126
146
154
220
228
280
290
304
526
534
563
669
671
767
898
904
943
948
1044
1049
1073
1074
1125
1161
1187
1197
1235
1242
1254
1275
1294
1342
1418
1497
1503
1593
1639
1653
1686
1695
1707
1714
1799
1825
1827
1854
1890
1911
1930
1999
2001
2010
2049
2051
2055
2070
2099
2146
2222
2251
2277
2304
2370
2383
2410
2420
2451
2460
2508
2529
2551
2564
2590
2638
2660
2677
2694
2724
2810
2817
2913
2940
2988
3042
3189
3214
3247
3363
3382
3440
3457
3459
3483
3510
3524
3527
3551
3560
3588
3611
3691
3707
3716
3717
3765
3779
3819
3822
3972
4069
4073
4074
4118
4137
4316
4340
4386
4416
4452
4458
4477
4492
4534
4640
4656
4674
4765
4828
4844
4873
4914
4960
4984
4994
5008
5043
5058
5099
5105
5195
5411
5417
5433
5537
5643
5702
5781
5802
5896
5922
5928
5991
6004
6046
6178
6262
6270
6438
6475
6525
6588
6590
6623
6646
6652
6717
6723
6725
6733
6762
6843
6859
6876
6899
6918
6938
6983
6993
7085
7165
7181
7211
7226
7251
7258
7266
7302
7320
7361
7388
7390
7397
7418
7444
7493
7526
7674
7695
7703
7719
7768
7777
7802
7803
7813
7828
7847
7852
7891
7915
8006
8024
8057
8075
8087
8228
8259
8265
8304
8377
8383
8514
8534
8567
8624
8626
8640
8676
8699
8789
8795
8860
8871
8888
8895
8909
8988
9026
9136
9297
9329
9354
9378
9383
9395
9449
9460
9526
9602
9606
9625
9636
9677
9685
9687
9703
9758
9801
9828
9883
9961
9983
10004
10012
10031
10132
10169
10232
10242
10308
10358
10390
10437
10506
10525
10608
10612
10631
10682
10702
10748
10754
10832
10839
10867
10919
10963
11145
11161
11196
11209
11242
11252
11277
11299
11381
11436
11484
11493
11532
11557
11559
11579
11598
11706
11727
11730
11791
11808
11816
11875
11904
11908
11938
12037
12070
12175
12180
12184
12229
12320
12330
12391
12418
12419
12441
12472
12501
12506
12547
12613
12646
12677
12820
12902
12954
12963
12969
12989
12996
12999
13012
13048
13085
13135
13160
13162
13183
13298
13313
13365
13395
13494
13496
13515
13518
13561
13563
13567
13579
13596
13607
13642
13715
13747
13760
13898
13907
13971
13995
14032
14039
14074
14189
14237
14257
14319
14336
14394
14522
14541
14544
14612
14619
14632
14640
14684
14720
14829
15108
15113
15171
15177
15191
15266
15291
15304
15316
15394
15441
15442
15444
15488
15538
15549
15559
15572
15576
15597
15626
15657
15728
15758
15809
15856
15860
15876
15912
15980
15981
16032
16049
16074
16087
16143
16162
16200
16246
16248
16278
16355
16379
16394
16404
16459
16498
16606
16620
16621
16741
16779
16861
16867
16888
16914
16915
16940
16982
16991
17001
17014
17082
17083
17108
17139
17142
17143
17150
17157
17165
17168
17169
17255
17266
17380
17407
17453
17456
17517
17542
17652
17660
17681
17704
17714
17737
17741
17762
17834
17844
17945
18017
18041
18086
18090
18160
18298
18376
18470
18478
18503
18529
18542
18552
18560
18681
18701
18709
18750
18771
18797
18837
18947
18960
19057
19100
19141
19210
19215
19299
19311
19338
19339
19354
19418
19424
19541
19546
19556
19575
19628
19655
19853
19899
19968
19988

### Задание 3. Вывести все профессии у клиентов из сферы IT или Financial Services, которые начинаются с фразы 'Senior'

In [7]:
request(2)

/* Выводим все профессии у клиентов из сферы IT или
 * Financial Services, которые начинаются с фразы 'Senior'.
 * Под 'всеми профессиями' понимаем уникальные должности, начинающиеся
 * с 'Senior' в указанных отраслях.*/
SELECT DISTINCT job_title
FROM "customer" c
WHERE job_industry_category IN ('IT', 'Financial Services') AND job_title LIKE 'Senior%';

Senior Cost Accountant
Senior Developer
Senior Editor
Senior Financial Analyst
Senior Quality Engineer
Senior Sales Associate

### Задание 4. Вывести все бренды, которые закупают клиенты, работающие в сфере Financial Services

In [8]:
request(3)

/* Выводим все бренды, которые закупают клиенты,
 * работающие в сфере Financial Services */
SELECT DISTINCT t.brand
FROM "transaction" t
JOIN customer c ON t.customer_id = c.customer_id
WHERE c.job_industry_category = 'Financial Services';

None
Trek Bicycles
WeareA2B
Solex
Giant Bicycles
OHM Cycles
Norco Bicycles

### Задание 5. Вывести 10 клиентов, которые оформили онлайн-заказ продукции из брендов 'Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles'

In [9]:
request(4)

/* Выводим 10 клиентов, которые оформили онлайн-заказ
 * продукции из брендов 'Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles'.
 * Исходим из того, что под клиентом понимается customer_id. Если для описания
 * клиента понадобятся атрибуты из таблицы customer, то их можно вывести,
 * объединив таблицы*/
SELECT customer_id
FROM "transaction" t
WHERE brand IN ('Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles') AND online_order = 'True'
LIMIT 10;

3120
787
2339
1243
3002
2666
3368
2810
2003
2448

### Задание 6. Вывести всех клиентов, у которых нет транзакций

In [10]:
request(5)

/* Выводим всех клиентов, у которых нет транзакций.
 * Исходим из того, что под клиентом понимается customer_id. Если под клиентом
 * будет пониматься сочетание first_name и last_name, то их можно вывести,
 * добавив в SELECT c.first_name, c.last_name. */
SELECT c.customer_id
FROM "customer" c
LEFT JOIN "transaction" t ON c.customer_id = t.customer_id
WHERE t.customer_id IS NULL;

852
869
1373
2074
2660
3229
3236
3501
3502
3503
3504
3505
3506
3507
3508
3509
3510
3511
3512
3513
3514
3515
3516
3517
3518
3519
3520
3521
3522
3523
3524
3525
3526
3527
3528
3529
3530
3531
3532
3533
3534
3535
3536
3537
3538
3539
3540
3541
3542
3543
3544
3545
3546
3547
3548
3549
3550
3551
3552
3553
3554
3555
3556
3557
3558
3559
3560
3561
3562
3563
3564
3565
3566
3567
3568
3569
3570
3571
3572
3573
3574
3575
3576
3577
3578
3579
3580
3581
3582
3583
3584
3585
3586
3587
3588
3589
3590
3591
3592
3593
3594
3595
3596
3597
3598
3599
3600
3601
3602
3603
3604
3605
3606
3607
3608
3609
3610
3611
3612
3613
3614
3615
3616
3617
3618
3619
3620
3621
3622
3623
3624
3625
3626
3627
3628
3629
3630
3631
3632
3633
3634
3635
3636
3637
3638
3639
3640
3641
3642
3643
3644
3645
3646
3647
3648
3649
3650
3651
3652
3653
3654
3655
3656
3657
3658
3659
3660
3661
3662
3663
3664
3665
3666
3667
3668
3669
3670
3671
3672
3673
3674
3675
3676
3677
3678
3679
3680
3681
3682
3683
3684
3685
3686
3687
3688
3689
3690
3691
3692
3693
3694
3695
3696
3697
3698
3699
3700
3701
3702
3703
3704
3705
3706
3707
3708
3709
3710
3711
3712
3713
3714
3715
3716
3717
3718
3719
3720
3721
3722
3723
3724
3725
3726
3727
3728
3729
3730
3731
3732
3733
3734
3735
3736
3737
3738
3739
3740
3741
3742
3743
3744
3745
3746
3747
3748
3749
3750
3751
3752
3753
3754
3755
3756
3757
3758
3759
3760
3761
3762
3763
3764
3765
3766
3767
3768
3769
3770
3771
3772
3773
3774
3775
3776
3777
3778
3779
3780
3781
3782
3783
3784
3785
3786
3787
3788
3789
3790
3791
3792
3793
3794
3795
3796
3797
3798
3799
3800
3801
3802
3803
3804
3805
3806
3807
3808
3809
3810
3811
3812
3813
3814
3815
3816
3817
3818
3819
3820
3821
3822
3823
3824
3825
3826
3827
3828
3829
3830
3831
3832
3833
3834
3835
3836
3837
3838
3839
3840
3841
3842
3843
3844
3845
3846
3847
3848
3849
3850
3851
3852
3853
3854
3855
3856
3857
3858
3859
3860
3861
3862
3863
3864
3865
3866
3867
3868
3869
3870
3871
3872
3873
3874
3875
3876
3877
3878
3879
3880
3881
3882
3883
3884
3885
3886
3887
3888
3889
3890
3891
3892
3893
3894
3895
3896
3897
3898
3899
3900
3901
3902
3903
3904
3905
3906
3907
3908
3909
3910
3911
3912
3913
3914
3915
3916
3917
3918
3919
3920
3921
3922
3923
3924
3925
3926
3927
3928
3929
3930
3931
3932
3933
3934
3935
3936
3937
3938
3939
3940
3941
3942
3943
3944
3945
3946
3947
3948
3949
3950
3951
3952
3953
3954
3955
3956
3957
3958
3959
3960
3961
3962
3963
3964
3965
3966
3967
3968
3969
3970
3971
3972
3973
3974
3975
3976
3977
3978
3979
3980
3981
3982
3983
3984
3985
3986
3987
3988
3989
3990
3991
3992
3993
3994
3995
3996
3997
3998
3999
4000

### Задание 7. Вывести всех клиентов из IT, у которых транзакции с максимальной стандартной стоимостью

In [11]:
request(6)

/* Выводим всех клиентов из IT, у которых транзакции с максимальной стандартной стоимостью.
 * Исходим из того, что под клиентом понимается customer_id. При необходимости
 * иные поля из таблицы customer можно вывести, добавив их в SELECT с
 * использованием alias 'с'. Под 'всех' в контексте задания
 * понимаем всех уникальных клиентов*/
SELECT DISTINCT c.customer_id
FROM "customer" c
JOIN "transaction" t ON t.customer_id = c.customer_id
WHERE c.job_industry_category = 'IT' AND t.standard_cost = (
	SELECT MAX(standard_cost) FROM "transaction");

34
893
975
1672
1773
1918
2913
3151
3473

### Задание 8. Вывести всех клиентов из сферы IT и Health, у которых есть подтвержденные транзакции за период '2017-07-07' по '2017-07-17'

In [12]:
request(7)

/* Выводим всех клиентов из сферы IT и Health, у которых есть подтвержденные
 * транзакции за период '2017-07-07' по '2017-07-17'
 * Исходим из того, что под клиентом понимается customer_id. При необходимости
 * иные поля из таблицы customer можно вывести, добавив их в SELECT с
 * использованием alias 'с'. Под 'всех' в контексте задания
 * понимаем всех уникальных клиентов*/
SELECT DISTINCT t.customer_id
FROM "transaction" t
JOIN customer c ON t.customer_id = c.customer_id
WHERE c.job_industry_category IN ('IT', 'Health') AND
(TO_DATE(transaction_date, 'DD.MM.YYYY')
	BETWEEN '2017-07-07' AND '2017-07-17')

22
28
41
47
104
235
239
249
289
290
300
320
331
338
350
382
414
424
428
503
526
579
590
612
661
679
682
685
694
708
712
722
753
759
769
779
788
872
886
892
893
936
949
950
973
1005
1024
1044
1076
1091
1095
1166
1174
1189
1231
1237
1328
1337
1343
1376
1394
1489
1516
1538
1542
1555
1578
1585
1683
1693
1760
1836
1862
1907
1929
1952
1956
2000
2024
2205
2210
2235
2285
2317
2337
2341
2366
2391
2442
2463
2490
2516
2610
2684
2690
2701
2717
2782
2881
2953
2973
3070
3105
3109
3151
3166
3169
3173
3211
3225
3255
3288
3360
3365
3482